  
* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-rows: 10vh 90vh;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "top top"
                        "menu content";

}
.container>div{

}
.logo_container{
    grid-area: top;
    background-image: url(../img/admin-small.png);
    font-style: italic;
    color: #fff;

}

.logo {
    display: flex;
    text-align: right;

}
.button {
    display: flex;
    text-align: right;
}



.menu{
    background-color: #4682B4;
    background-image: linear-gradient( top, 50% );
    grid-area: menu;

}

.menu ul {

}


.content{
    background-color: white;
    grid-area: content;
    text-align: center;

}

table {
    border-collapse: collapse;
    text-align: center;


}

h4 {
    
}


td, th {
    border: 1px solid #dddddddd;
    text-align: center;
    padding: 8px;
    justify-content: center;
}

table.list thead>tr {
    background-color: #0b406b;
    color: #fff
}

input[type=text], input[type=numer]{
    width: 100px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    margin: 8px 0;

}

/*@media (min-width: 800px) {
    .button{
        display: none
    }
}*/
